.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imgbutton:hover{
  filter: brightness(110%);
  cursor:pointer;
}

.imgbutton{
  box-shadow: 5px 5px 5px rgb(85, 76, 76);
}
.imgbutton:active {
  margin: 2px 0px 0;
  box-shadow: -5px -5px 5px rgb(85, 76, 76);
}

figure {
  position: relative;
}
figure figcaption {
  color: black;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 15px;
  font-size: smaller;
  font-weight: 900;
  font-family: "Monda";
}

footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}